html, body {
    margin: 0;
}

canvas {
    background-color: blue;
}

header {
    background-color: pink;
    height: 75px;
    border: 2px solid black;
}

a, h2 {
    display: flex;
    justify-content: center;
}
